body{
  padding: 0;
  margin: 0;
}

/* Navabar */

.navbar{
  z-index: 2000;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 2.3fr repeat(8, 1fr) 1.7fr;
  min-height: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.logoHeader{
  background-color: darkred;
  margin: 0;
  text-align: justify;
  padding-left: 3rem;
  padding-top: .9rem;
  padding-bottom: 1rem;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-right: 1px solid white;
}

.logoHeader strong{
  padding-top: 1rem;
  color: whitesmoke;
  font-size: x-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: white 0 1px 0;
}

.headerContainer{
  background-color: black;
  margin: 0;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.headerContainer button{
  background-color: black;
  border: 0;
  color: white;
  height: 100%;
  width: 100%;
  padding-top: .4rem;
  justify-content: center;
}

.formHeaderContainer{
  background-color: black;
  margin: 0;
  border-left: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formHeader{
  display: flex;
  justify-content: space-between;
  border: 1px solid whitesmoke;
  opacity: .5;
  width: 90%;
  height: 70%;
  padding: .1rem .1rem;
  border-radius: 25px;
}

.inputSearch{
  border: none;
  font-size: large;
  background-color: black;
  padding-top: .15rem;
  height: 90%;
  width: 90%;
  color: darkgray;
  margin-left: 1.2rem;
}

.inputSearch:focus{
  outline: none;
}

.buttonFormHeader{
  background-color: transparent;
  border: transparent;
  font-size: larger;
  padding: 0;
}

/* Categorías */

.categorysContainer{
  margin-top: 6rem;
}

.h2Header{
  text-align: left;
}

.categoryContainer{
  margin: 1rem 2.2rem;
  padding: 0;
}

.headerCategory{
  border-top: 1px solid #0f0f0f;
}

.newsContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  max-width: 100%;
  height: auto;
  margin: 2rem 0;
  position: relative;
}

.imageNews{
  width: 100%;
  height: 48%;
}

.dateNews{
  text-align: start;
  color: gray;
}

.allNewsContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}

.newsLink{
  color: #0f0f0f;
}

.newsLink h3{
  margin: 0;
}

.remvoveContainer{
  display: inline;
}

.remvoveContainer{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  display: inline;
  margin: 0;
  padding: 0;
  background-color: red;
}

.removeImage{
  width: 2rem;
  height: 2rem;
  margin: 0;
}